<% layout('layout') %>
<% if(products.length == 0) { %>
<div class="container">
  <div class="row">
    <h3>There Are No Products In This Category Yet</h3>
  </div>
</div>
<% } else { %>
<div class="container">
  <div class="row">
    <h3><%= products[0].category.name %></h3>
    <% for (var i=0; i < products.length; i ++){ %>
    <div class="col-md-4">
      <a href="/product/<%= products[i]._id %>">
        <div class="thumbnail">
          <img src="<%= products[i].image %>">
          <div class="caption">
            <h3><%= products[i].name %></h3>
            <p><%= products[i].category.name %></p>
            <p>$<%= products[i].price %></p>
          </div>
        </div>
      </a>  
    </div>
      <% } %>  
  </div>
</div>
<% } %>